*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
  background-color: black;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
}

.navitem:hover{
  border-bottom: 2px solid green;
  transition: 0.5s;
}

.logo{
  height: 30px;
  width: 30px;
}

.fnt{
  font-family: "Architectural";
}

.card-block{
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	}
}
