*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
  background-color: black;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
}

.navitem:hover{
  border-bottom: 2px solid green;
  transition: 0.5s;
}

.logo{
  height: 30px;
  width: 30px;
}

.fnt{
  font-family: "Architectural";
}

h1{
  background-color: black;
}
