*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.home{
  min-height: 100vh;
  background-image: url(../img/bgg.png);
  background-position: center;
}
